@use '../components/mixins' as *;
@use '../components/variables' as *;

.footer{
  padding: 6rem 0 2rem;
  font-family: "Roboto", sans-serif;
  position: relative;

  .row{
    align-items: stretch;
  }

  .col-4{
    flex-basis: 100%;

      @include breakpoint-up(md){
        flex-basis: 50%;
      }

      @include breakpoint-up(lg){
        flex-basis: 20%;
      }
    
    h4{
      text-transform: uppercase;
      margin-bottom: 1rem;

      @include breakpoint-down(lg){
        margin-top: 2.4rem;
      }
    }

    a{
      font-size: 1rem;
    }
    
    li{
      line-height: 2.5;
    }

    .search_box{
      position: relative;

      input{
        border: 1px solid #D6D6D6;
        width: 90%;
        height: 2.5rem;
        padding-left: .9rem;
        margin-bottom: 2rem;

        @include breakpoint-up(xl){
          width: 100%;
        }

      }
      span{
          position: absolute;
          background: $primary;
          padding: .66rem;
          color: #fff;
      }
    }

    
    
    ::placeholder{
      font-size: 0.8rem;
    }

  }

  .last-child{

    li{
      line-height: 2;
    }
  }

  .social_link{
    display: flex;
    margin-top: 2rem;

    li{
      padding-right: 1rem;
    }
  }
 
  .footer_bottom{
    text-align: center;
    line-height: 3rem;
    padding-top: 4rem;

    img{
      padding: 0 .5rem;
    }
    .line{
      position: absolute;
      bottom: 9rem;
      left: 0;
      right: 0;
      border: 1px solid #D6D6D6;
    }
  }
  .borders_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

