// Font Size
$font-xsm: 0.75rem;          //  12px
$font-sm: 0.8125rem;        // 13px
$font-md: 0.875rem;        // 14px
$font-lg: 0.9375rem;      // 15px
$font-xlg: 1.625rem;     // 26px

$font-rem1: 1rem;
$font-rem2: 2rem;


// COLORS
$primary: #00B4FF;  

// #00B4FF	#252525	#454545	#009740	#1F70B8	#2E3191	#E30412	#EF4B4E	#F4C222		#F00000	#C8102E	#012169	#D6D6D6	#7F7F7F